# Aula 03

In [1]:
# Importar as bibliotecas
import numpy as np
import pandas as pd

## Criando o nosso dataset de estudo

In [4]:
# Gerar os dados (com NaNs)
dados = {
    'ID Usuário': range(1001, 1011),
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo',
                   'Fernanda', 'Gabriel', 'Helena', 'Ítalo', 'Júlia'],
    'Idade': [25, 34, np.nan, 45, 23, 31, 19, np.nan, 40, 28],
    'Plano': ['Premium', 'Básico', 'Premium', 'Padrão', 'Básico',
              'Padrão', 'Básico', 'Premium', 'Premium', 'Padrão'],
    'Mensalidade': [55.90, 29.90, 55.90, 39.90, 29.90,
                    39.90, 29.90, 55.90, 55.90, 39.90],
    'Data adesão': pd.to_datetime(['2022-01-10', '2022-03-15', '2021-11-20', '2023-01-05', '2022-06-12',
                                    '2022-08-30', '2023-02-14', '2021-05-20', '2022-12-01', '2023-03-10']),
    'Ativo': [True, True, False, True, True,
              False, True, True, True, True]
}

df = pd.DataFrame(dados)

df

   ID Usuário      Nome  Idade    Plano  Mensalidade Data adesão  Ativo
0        1001       Ana   25.0  Premium         55.9  2022-01-10   True
1        1002     Bruno   34.0   Básico         29.9  2022-03-15   True
2        1003    Carlos    NaN  Premium         55.9  2021-11-20  False
3        1004   Daniela   45.0   Padrão         39.9  2023-01-05   True
4        1005   Eduardo   23.0   Básico         29.9  2022-06-12   True
5        1006  Fernanda   31.0   Padrão         39.9  2022-08-30  False
6        1007   Gabriel   19.0   Básico         29.9  2023-02-14   True
7        1008    Helena    NaN  Premium         55.9  2021-05-20   True
8        1009     Ítalo   40.0  Premium         55.9  2022-12-01   True
9        1010     Júlia   28.0   Padrão         39.9  2023-03-10   True

## Primeiras impressões: head() e tail()

In [5]:
# Ver as 5 primeiras linhas (padrão)
df.head()

   ID Usuário     Nome  Idade    Plano  Mensalidade Data adesão  Ativo
0        1001      Ana   25.0  Premium         55.9  2022-01-10   True
1        1002    Bruno   34.0   Básico         29.9  2022-03-15   True
2        1003   Carlos    NaN  Premium         55.9  2021-11-20  False
3        1004  Daniela   45.0   Padrão         39.9  2023-01-05   True
4        1005  Eduardo   23.0   Básico         29.9  2022-06-12   True

In [7]:
# Ver o final do DataFrame
df.tail(3)

   ID Usuário    Nome  Idade    Plano  Mensalidade Data adesão  Ativo
7        1008  Helena    NaN  Premium         55.9  2021-05-20   True
8        1009   Ítalo   40.0  Premium         55.9  2022-12-01   True
9        1010   Júlia   28.0   Padrão         39.9  2023-03-10   True

## O DNA dos dados: dtypes e shape

In [8]:
print(f'''Dimensões (linha, coluna): {df.shape}

Tipos de dados em cada coluna: \n{df.dtypes}''')

Dimensões (linha, coluna): (10, 7)

Tipos de dados em cada coluna:
ID Usuário              int64
Nome                   object
Idade                 float64
Plano                  object
Mensalidade           float64
Data adesão    datetime64[ns]
Ativo                    bool
dtype: object

## O diagnóstico de saúde: info()

In [9]:
# Saber as informações do DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID Usuário   10 non-null     int64
 1   Nome         10 non-null     object
 2   Idade        8 non-null      float64
 3   Plano        10 non-null     object
 4   Mensalidade  10 non-null     float64
 5   Data adesão  10 non-null     datetime64[ns]
 6   Ativo        10 non-null     bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 622.0+ bytes

## O mapa estatístico: describe()

In [11]:
# Informações estatísticas
df.describe().T

,count,mean,min,25%,50%,75%,max,std
ID Usuário,10.0,1005.5,1001.0,1003.25,1005.5,1007.75,1010.0,3.02765
Idade,8.0,30.625,19.0,24.5,29.5,35.5,45.0,8.765802
Mensalidade,10.0,43.3,29.9,32.4,39.9,55.9,55.9,11.587349
Data adesão,10,2022-06-26 04:48:00,2021-05-20 00:00:00,2022-01-26 00:00:00,2022-07-21 12:00:00,2022-12-27 06:00:00,2023-03-10 00:00:00,NaN

In [12]:
# Saber os dados não numéricos (coluna "Nome")
df['Nome'].unique()

array(['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo', 'Fernanda',
       'Gabriel', 'Helena', 'Ítalo', 'Júlia'], dtype=object)

In [14]:
# Saber os dados não numéricos (coluna "Plano")
df['Plano'].unique()

array(['Premium', 'Básico', 'Padrão'], dtype=object)

In [15]:
# Saber quanto de cada dado não numérico há na coluna (valor absoluto)
df['Plano'].value_counts()

Plano
Premium    4
Básico     3
Padrão     3
Name: count, dtype: int64

In [16]:
# Saber quanto de cada dados não numérico há na coluna (porcentagem)
df['Plano'].value_counts(normalize=True)

Plano
Premium    0.4
Básico     0.3
Padrão     0.3
Name: proportion, dtype: float64