# Aula 02

In [1]:
# Importar as bibliotecas
import numpy as np
import pandas as pd

## Preparando o laboratório

In [3]:
# Criar um conjunto de dados
dados = {
    'ID venda': range(1, 101),
    'Produto': np.random.choice(['Notebook', 'Tablet', 'Celular'], 100),
    'Preço': np.random.uniform(1000, 5000, 100).round(2),
    'Data': pd.date_range(start='2025-01-01', periods=100)
}

# Criar o DataFrame
df = pd.DataFrame(dados)

# Salvar o DataFrame
df.to_csv('vendas.csv', index=False, sep=';')
df.to_excel('vendas.xlsx', index=False, sheet_name='Vendas')
df.to_parquet('vendas.parquet', index=False)
print('Arquios criados com sucesso!')

Arquios criados com sucesso!

## CSV: Lidando com o caos

In [4]:
# Carregar o arquivo CSV
df_csv = pd.read_csv(
    '/content/vendas.csv',
    sep=';',  # define o separador correto
    encoding='utf-8',  # tipo mais comum de codificação
    usecols=['Produto', 'Preço'],  # seleciona somente as colunas que importam para a análise
    nrows=10  # carrega apenas as 10 primeiras linhas do conjunto
)
df_csv

    Produto    Preço
0    Tablet  3430.62
1    Tablet  1952.33
2  Notebook  4810.52
3    Tablet  1237.27
4  Notebook  4183.07
5    Tablet  2928.70
6    Tablet  3796.49
7    Tablet  1267.60
8  Notebook  4294.12
9    Tablet  1399.27

## Excel: o formato corporativo

In [5]:
# Carregar o arquivo Excel
df_excel = pd.read_excel(
    '/content/vendas.xlsx',
    sheet_name='Vendas'
)
df_excel

    ID venda   Produto    Preço       Data
0          1    Tablet  3430.62 2025-01-01
1          2    Tablet  1952.33 2025-01-02
2          3  Notebook  4810.52 2025-01-03
3          4    Tablet  1237.27 2025-01-04
4          5  Notebook  4183.07 2025-01-05
..       ...       ...      ...        ...
95        96   Celular  4980.25 2025-04-06
96        97    Tablet  4768.00 2025-04-07
97        98  Notebook  3951.43 2025-04-08
98        99    Tablet  2985.08 2025-04-09
99       100  Notebook  3554.40 2025-04-10

[100 rows x 4 columns]

## Parquet: a escolha dos profissionais

In [7]:
# Carregar o arquivo Parquet
df_parquet = pd.read_parquet('/content/vendas.parquet')
df_parquet

    ID venda   Produto    Preço       Data
0          1    Tablet  3430.62 2025-01-01
1          2    Tablet  1952.33 2025-01-02
2          3  Notebook  4810.52 2025-01-03
3          4    Tablet  1237.27 2025-01-04
4          5  Notebook  4183.07 2025-01-05
..       ...       ...      ...        ...
95        96   Celular  4980.25 2025-04-06
96        97    Tablet  4768.00 2025-04-07
97        98  Notebook  3951.43 2025-04-08
98        99    Tablet  2985.08 2025-04-09
99       100  Notebook  3554.40 2025-04-10

[100 rows x 4 columns]

In [10]:
# Comparação entre o CSV e Parquet
df_csv = pd.read_csv('/content/vendas.csv', sep=';')

print(f'''dtype de "Data" no CSV: {df_csv["Data"].dtype}
dtype do "Data" no Parquet: {df_parquet["Data"].dtype}''')

dtype de "Data" no CSV: object
dtype do "Data" no Parquet: datetime64[ns]

## URL: sem arquivo, sem problemas

In [12]:
# Acessar os dados através de uma URL
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df_titanic = pd.read_csv(url)
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q